<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Document</title>
	</head>
	<body>
		<%- include("partial/header")%>

		<main>
			<section>
				<h1>Bienvenue sur mon blog, <%= locals.username %> !</h1>

				<div class="banner"></div>

				<h2>Latest Article</h2>
				<% for (const data of datas) {%>
				<article>
					<h3><%= data.title %></h3>
					<a href="/story/<%= data.id %>">Read More</a>
				</article>

				<% } %>
			</section>
		</main>
		<%- include("partial/footer")%>
	</body>
</html>
