<main>
	<h2>Stories List</h2>
	<a href="/admin/story/create">Create a new story</a>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Content</th>
					<th>Actions</th>
				</tr>
			</thead>
			<% for (const story of stories) {%>
			<tr>
				<td><%= story.id %></td>
				<td><%= story.title %></td>
				<td><%= story.content.substring(0, 30) %>...</td>
				<td class="cta-icon">
					<a
						href="/admin/story/update/<%= story.id %>"
						title="edit story"
						><i class="fa-solid fa-pen-to-square"></i
					></a>
					<a
						href="/admin/story/delete/<%= story.id %>"
						title="delete story"
						><i class="fa-solid fa-trash"></i
					></a>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
</main>
