<main>
	<h2>Update Story</h2>

	<form action="/admin/story/update/<%= story.id %>" method="post">
		<label for="title">Title</label>
		<input
			type="text"
			name="title"
			id="title"
			value="<%= story.title %>"
			required
		/>

		<label for="content">Content</label>
		<textarea name="content" id="content" required>
<%= story.content %></textarea
		>

		<label for="image-name">Image name</label>
		<input
			type="text"
			name="img"
			id="image-name"
			value="<%= story.img %>"
			required
		/>

		<label for="category">Category</label>
		<select name="category_id" id="category">
			<option selected value="<%= story.idCategory %>">
				<%= story.label %>
			</option>
			<% for (const category of categories) {%> <% if(story.idCategory !==
			category.id) {%>
			<option value="<%= category.id %>"><%= category.label %></option>
			<% } %> <% } %>
		</select>

		<button type="submit">Update</button>
	</form>
</main>
